#manubar{
    padding: 0;
    position: absolute;
    top: 0;
    color: black;
    font-size: 5vw;
    height: 10vh;
    transition-delay: 3s;
    transition: color 1s, width 1s, height 1s;
}
.humanclass{
    left:0%;
    transition: left 5s;
}
#btn{

}
humanclass:hover{
    left:110%;
}
#manubar:hover{
    color:transparent;
    width: 20vw;
    height: 100vh;
}
#menu{
    position: absolute;
    z-index: 10;
    color: #bef264;
    width: 5vw;
    font-size: large;
    height: 10vh;
    transition: height 2s, width 2s,background-color 3s,font-size 2s, color 3s;
    background-color: #bef264;
}
#menu:hover{
    width:20vw;
    font-size: xx-large;
    height: 100vh;
    color: black;
    background-color:aqua;
}
body{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: #bef264;
}
#main{
    position:absolute;
    left:20vw;
    width:80vw;
    height:100vh;
}