#navbar{
    position: absolute;
    left:0;
    transition: width 1s, background-color 1s;
    width: 5vw;
    height: 100vh;
    background-color: slategrey;
}
.link{
    background-color: slategrey;
    border-radius: 15px;
    transition: background-color 1s;
}
.link:hover{
    background-color:grey;
}
#navbar:hover{
    width: 20vw;
    background-color: grey;
}
body{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}
#main{
    display: flex;
    background-color: antiquewhite;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
#title{
    width: 1000px;
}